.container {
  margin: 20px auto;
  width: 80%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

.thumb_nail {
  max-height: 200px;
  max-width: 200px;
  height: auto;
  width: auto;
  clear: both;
}

.full_image {
  width: 90%;
}

.highlight {
  background-color: yellow;
}
.current_image{
  width: 100%;
}
.current {
  width: 70%;
  position: absolute;
  left: 15%;
  top: 50px;
  margin: auto;
  border: 3px inset gray;
  background-color: #280000;
}

#comment_text{
  color: white;
}

