<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/color_scheme.css">
  <link rel="stylesheet" href="/css/top_bar_styling.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/jquery-ui-1.10.4.custom.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/image_manip.js"></script>
  <script src="/js/comment_scripting.js"></script>

  <title></title>
</head>
<body class="shuttle_grey_background">
  <div id="top_bar">
    <a href="" id="topbar_logo" class="scarlet baby_blue_background">emage</a>

    <a href="/users/:user_id" id="user_profile" class="scarlet baby_blue_background black">User Profile</a>


  </div>
    <%= yield %>
</body>
</html>
