<div class="container">
  <h2>Create a new album</h2>

  <form action="/albums" method="post" enctype="multipart/form-data">
    <label>What do you want to call your new album?</label>
    </br>
    <input type="text" name="album_name">
    <br>
    <input type="file" name="picture">
    <br>
    <input type="submit">
  </form>
</div>
