<div class="container">
  <h2>Create a new album</h2>

  <form action="/albums" method="post" enctype="multipart/form-data">
    <label>What do you want to call your new album?</label>
    <br />

    <div class="image_addition">
      <input type="text" name="album_name" id="album_name">
    </div>

    <br />
    <input type="button" value="Add Another Image" id="extra_pic">
    <input type="button" value="Remove Added Image" id="remove_pic">
    <br />
    <input type="submit" id="submit_new_images">
  </form>
</div>
