<div class="container">
  <h1>Sign up here</h1>

  <form method="post" action="/users">
    <input type="text" placeholder="Username" name="user[username]">
    <input type="password" placeholder="Password" name="user[password]">
    <input type="password" placeholder="Confirm Password" name="user[password_confirmation]">
    <input type="text" placeholder="Email" name="user[email]">
    <input type="submit">
  </form>

</div>
